[Desktop Entry]
Version=1.0
Name=Waterfox
Exec=waterfox %u
Icon=net.waterfox.waterfox
Terminal=false
Type=Application
StartupWMClass=waterfox-default
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=false
Comment=A lightweight, free and open source web browser built for the modern web
Categories=Network;WebBrowser;
Actions=new-window;new-private-window;profilemanager;

[Desktop Action new-window]
Name=Open a New Window
Exec=waterfox %u

[Desktop Action new-private-window]
Name=Open a New Private Window
Exec=waterfox --private-window %u

[Desktop Action profilemanager]
Name=Open the Profile Manager
Exec=waterfox --ProfileManager %u
